input {
  width: 318px;
  font-weight: 400;
  font-size: 15px;
  color: var(--soft-gray);
  border: 1px solid var(--soft-gray);
  border-radius: 5px;
  padding: 8px 10px;
  &::placeholder {
    color: var(--soft-gray);
  }
}
