:host {
  display: block;
  width: 100%;
  padding: 0 56px;

  .board-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
  }
  .main__search {
    display: inline-flex;
    align-items: center;
    gap: 14px;
    border: 1px solid var(--soft-gray);
    border-radius: 5px;
    padding: 8px 10px;
  }
  .main__btn {
    button {
      margin-right: 4px;
    }
  }
  input {
    width: 318px;
    font-weight: 400;
    font-size: 15px;
    color: var(--soft-gray);
    &::placeholder {
      color: var(--soft-gray);
    }
  }
}
.board-columns {
  display: grid;
  // Создаем 4 равные колонки
  grid-template-columns: repeat(4, 1fr);
  // Расстояние между колонками (по макету примерно 24px)
  gap: 24px;
  // Чтобы колонки были выровнены по верхнему краю
  align-items: start;
}
