<div class="board-header">
  <div class="main__search">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_2104_142)">
        <path
          d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z"
          fill="#C4C4C4"
        />
      </g>
      <defs>
        <clipPath id="clip0_2104_142">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
    <input placeholder="Search Items" />
  </div>

  <div class="main__btn">
    <button
      class="btn active-btn"
      [class.active-btn]="activeTab === 'new'"
      (click)="changeTab('new')"
    >
      New Item
    </button>
    <button
      class="btn"
      [class.active-btn]="activeTab === 'filter'"
      (click)="changeTab('filter')"
    >
      Filter
    </button>
    <button
      class="btn"
      [class.active-btn]="activeTab === 'board'"
      (click)="changeTab('board')"
    >
      Board
    </button>
  </div>
</div>

<div
  class="board-columns"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
>
  <app-column columnId="todo" title="To do" [tasks]="groupedTasks().todo" />
  <app-column
    columnId="inProgress"
    title="inProgress"
    [tasks]="groupedTasks().inProgress"
  />
  <app-column columnId="inReview" title="In review" [tasks]="groupedTasks().inReview" />
  <app-column columnId="done" title="Done" [tasks]="groupedTasks().done" />
</div>

@if (dragService.state.activeId) {
  <div
    class="drag-overlay"
    [style.left.px]="dragService.state.x"
    [style.top.px]="dragService.state.y"
    [style.width.px]="dragService.state.width"
    [style.height.px]="dragService.state.height"
  >
    <app-task [task]="draggedTask()!" />
  </div>
}
