<div class="board-header">
  <app-input placeholder="Search Items" />

  <div class="main__btn">
    <button
      class="btn active-btn"
      [class.active-btn]="activeTab === 'new'"
      (click)="changeTab('new')"
    >
      New Item
    </button>
    <button
      class="btn"
      [class.active-btn]="activeTab === 'filter'"
      (click)="changeTab('filter')"
    >
      Filter
    </button>
    <button
      class="btn"
      [class.active-btn]="activeTab === 'board'"
      (click)="changeTab('board')"
    >
      Board
    </button>
  </div>
</div>

<div
  class="board-columns"
  (pointermove)="onPointerMove($event)"
  (pointerup)="onPointerUp($event)"
>
  <app-column columnId="todo" title="To do" [tasks]="groupedTasks().todo" />
  <app-column
    columnId="inProgress"
    title="inProgress"
    [tasks]="groupedTasks().inProgress"
  />
  <app-column
    columnId="inReview"
    title="In review"
    [tasks]="groupedTasks().inReview"
  />
  <app-column columnId="done" title="Done" [tasks]="groupedTasks().done" />
</div>

@if (dragService.state.activeId) {
  <div
    class="drag-overlay"
    [style.left.px]="dragService.state.x"
    [style.top.px]="dragService.state.y"
    [style.width.px]="dragService.state.width"
    [style.height.px]="dragService.state.height"
  >
    <app-task [task]="draggedTask()!" />
  </div>
}
