@import "@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --red-soft: #e99898;
  --color: #404040;
  --main-color: #0013fe;
  --soft-white: #e6ecf0;
  --soft-gray: #d8d3d3;
  --font-family: "Roboto", sans-serif;
  --bg-btn: #e6ecf0;
  --bg-circle: #d5d5d5;
  --dark-dirty-green: #1d2d35;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: inherit; 
  text-decoration: none; 
  display: block; 
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

button {
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;

  cursor: pointer;

  outline: none;
}

.border-blue {
  border-radius: 5px;
  background: var(--main-color);
  padding: 4px 12px;
}

input {
  appearance: none;
  -webkit-appearance: none; 
  background: transparent;
  border: none;
  outline: none;

  padding: 0;
  margin: 0;

  font: inherit;
  color: inherit;

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &:focus {
    outline: none;
  }
}

.btn {
  border-radius: 5px;
  padding: 10px 23px;
  background: var(--bg-btn);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #fff;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.active-btn {
  background: var(--main-color);
}

.border-circle {
  border-radius: 100%;
  background-color: var(--bg-circle);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.cdk-overlay-container {
  z-index: 9999 !important;
}
