<h2 mat-dialog-title>Новая задача</h2>

<mat-dialog-content>
  <form [formGroup]="taskForm" class="task-form-container">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Введите название" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input
        matInput
        formControlName="description"
        placeholder="Описание задачи"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Tag</mat-label>
      <input matInput formControlName="tag" placeholder="Например: Frontend" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Attachments</mat-label>
      <input matInput placeholder="Ссылки или файлы" disabled="true" />
      <mat-icon matSuffix>attach_file</mat-icon>
    </mat-form-field>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="date" [matDatepicker]="picker" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-checkbox color="primary" formControlName="isPriority" checked="true">
        Important task
      </mat-checkbox>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">
    Создать
  </button>
</mat-dialog-actions>
